/* Статик */
div[style*="cw3/composited/f4cd528381df0990.png"] {
  background-image: url(https://i.yapx.ru/YCc8M.png) !important;
}

/* Сон */
div[style*="cw3/composited/2f60b2fb866e75d2.png"] {
  background-image: url(https://i.yapx.ru/YCc8K.png) !important;
}

/* Питьё */
div[style*="cw3/composited/baa11d4f1e501293.png"] {
  background-image: url(https://i.yapx.ru/YCc8L.png) !important;
}
